@import 'materialize-css';
@import 'src/constants/Constants.scss';

.StandFilters {
  padding: 15px 20px !important;
  @extend .z-depth-1;

  &__title,
  &__classification {
    display: block;
    width: 100%;
  }
  
  &__title {
    font-size: $subtitle-title-cards;
    margin-bottom: 15px;
  }
  
  &__classification {
    span {
      @extend .grey-text, .text-darken-4;
    }
  }
}
