@import 'materialize-css';
@import 'src/constants/Constants.scss';

.MultipleStyleText {
  font-size: $subtitle-title-cards;

  &--discount {
    text-decoration: line-through;
    @extend .grey-text;
  }

  &--price {
    font-size: $title-font-size;
  }

  &--disconuntoff {
    font-size: $regular-text;
    line-height: 40px;
    margin-left: 5px;
    position: absolute;
    @extend .green-text;
  }
 }