.HorizontalSpace {
  display: block;
  width: 100%;

  &--small {
    height: 30px;
  }

  &--medium {
    height: 50px;
  }

  &--large {
    height: 70px;
  }

  &--x-large {
    height: 90px;
  }
}
