@import 'materialize-css';
@import 'src/constants/Constants.scss';

.StrongText {
  &__text {
    display: block;
    font-size: $medium-text;
    font-weight: $bold-font-weight;
    text-align: center;
    width: 100%;
  }
}
