@import 'materialize-css';
@import 'src/constants/Constants.scss';

.TextItemPrice {
  span {
    display: block;
  }

  &--discount {
    text-decoration: line-through;
    @extend .grey-text;
  }

  &--price {
    font-size: $title-font-size;
  }

  &--discount-off {
    font-size: $regular-text;
    line-height: 40px;
    margin-left: 5px;
    position: absolute;
    @extend .green-text;
  }
}
