@import 'src/constants/Constants.scss';

.Logo {
  display: block;
  width: 60px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}

.SideNavBar {
  &__logo {
    display: block;
    width: 100%;
    height: 80px;
    margin: 10px 0 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
