@import 'src/constants/Constants.scss';

.Title {
  &__text {
    display: block;
    font-size: $title-font-size;
    font-weight: $slim-font-weight;
    line-height: 1.6em;
    text-align: center;
  }
}
