@import 'materialize-css';
@import 'src/constants/Constants.scss';

.TextWithIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.5s;
  @extend .z-depth-1;

  // &__item:hover {
  //   @extend .z-depth-3;
  // }

  i {
    font-size: 1.5em;
    margin-right: 8px;
  }

  span {
    font-size: 1em;
  }
}