@import 'materialize-css';

$supertitle-size: 3em;
$title-font-size: 2.3em;
$title-font-size-mobile: 1.8em;
$title-font-weight: 400;
$subtitle-font-size: 1.4em;
$subtitle-title-font-weight: 400;
$subtitle-title-cards: 1.2em;
$regular-text: 1em;
$medium-text: 1.15em;
$small-text: 0.8em;

$slim-font-weight: 200;
$medium-font-weight: 600;

$items-number: 1.5em;
$icons-size: 2.3em;

// Colors
$white: white;
$fruit-salad: #4CAF50;

.lemon-black {
  background-color: #000103;
}
