<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nedii" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Nedii</name>
    <description>
        Expos y stands
    </description>
    <author email="christopher.guzman.monsalvo@gmail.com" href="https://github.com/christopherigm/">
        Edgar and Christopher Guzman Monsalvo
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="./logo.jpg"/>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <splash src="splash.jpg" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="SplashScreenDelay" value="2500" />
</widget>
