@import 'materialize-css';
@import 'src/constants/Constants.scss';

.StandDetailProduct {
  margin: 0;

  &__card {
    border-radius: 10px;
    padding: 0 20px;
  }

  &__name {
    margin-top: 10px;
    font-size: $title-font-size-mobile;
  }

  &__discount {
    margin-top: 10px;
    text-decoration: line-through;
    font-size: $subtitle-title-cards;
  }

  &__price {
    margin-top: 10px;
    font-size: $title-font-size;
  }

  &__discountOff {
    font-size: $subtitle-title-cards;
    display: inline-block;
    position: absolute;
    line-height: 40px;
    margin-left: 8px;
  }

  &__textIcon {
    margin-bottom: 16px;
  }

  &__shop {
    margin-top: 20px;
  }

  .row {
    margin-bottom: 0 !important;
  }
}

.StrongText {
  margin: 16px 0 0 !important;
}
.TextWithIcon {
  margin-top: 8px;
}

@media screen and (min-width: 661px) {
  .StandDetailProduct {
    margin: 25px 0;
    &__card {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3)
    }

    &__card {
      border-radius: 10px;
      padding: 5px 20px 10px 20px;
    }
  }
}

.Description-movil {
  margin: 0 !important;
}

.StandMealsAddons {
  display: block;
  margin-top: 8px;
  font-size: $regular-text;
}
