@import 'materialize-css';
@import 'src/constants/Constants.scss';

.SimpleAttribute {
  &--small {
    font-size: $small-text;
  }

  &--medium {
    font-size: $regular-text;
  }

  &--large {
    font-size: $subtitle-font-size;
  }

  &--marginTopSmall {
    margin-top: 4px;
  }

  &--marginTopMedium {
    margin-top: 8px;
  }

  &--marginTopLarge {
    margin-top: 16px;
  }
}
