@import 'materialize-css';

$left-and-right-description-padding: 70px;
$description-mobile-max-width: 280px;

.HomeCategorySlider {
  display: block;
  position: relative;

  .Swiper {
    display: block;
    overflow: hidden;
  
    .swiper-pagination-bullet-active {
      @extend .blue;
    }

    .swiper-wrapper {
      padding: 9px 0 30px;
    }

    &__navigation-button {
      position: absolute;
      display: none;
      z-index: 1;
      top: calc(50% - 50px);
      width: 40px;
      height: 40px;
      border-radius: 40px;
      background-position: center;
      background-size: contain;
      cursor: pointer;
      z-index: 3;
      opacity: 0.55;
      transition: all 0.25s;
    
      &--right {
        right: 5px;
      }
  
      &--left {
        left: 5px;
      }
    }
  
    &__navigation-button:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  
    &__navigation-button:active {
      opacity: 1;
      transform: scale(0.9);
    }

    &__slide {
      box-sizing: border-box;
      padding: 0 4px;
    }
  }
}

@media screen and (min-width: 601px) {
  .HomeCategorySlider {
    .Swiper {
      &__navigation-button {
        display: block;
        outline: none;
      
        &--right {
          right: 10px;
        }
    
        &--left {
          left: 10px;
        }
      }
    }
  }
}
