@import 'materialize-css';

.StandPictures {
  position: relative;
  margin: 25px 0;
}

.StandPictures .Swiper {
  display: block;
  overflow: hidden;

  &__content {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    @extend .white-text;
  }

  .swiper-pagination-bullet-active {
    @extend .blue;
  }

  &__navigation-button {
    position: absolute;
    display: block;
    z-index: 1;
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    z-index: 3;
  
    &--right {
      right: 5px;
    }

    &--left {
      left: 5px;
    }
  }
}

@media screen and (min-width: 601px) {
  .StandPictures .Swiper {
    &__navigation-button {
      top: calc(50% - 25px);
      width: 50px;
      height: 50px;
      outline: none;
    
      &--right {
        right: 10px;
      }
  
      &--left {
        left: 10px;
      }
    }
  }
}

@media screen and (min-width: 993px) {
  .StandPictures .Swiper {  
    &__content {
      height: 60vh;
    }
  }
}
