@import 'materialize-css';
@import 'src/constants/Constants.scss';

.HomeExpoGrid {
  &__item {
    position: relative;
    height: 180px;
    padding: 0 !important;
    overflow: hidden;
  }
  
  &__image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.2s;
  }

  &__name {
    position: absolute;
    top: calc(50% - 15px);
    left: 30px;
    width: calc(100% - 60px);
    font-weight: 500;
    text-align: center;
    font-size: 1.27em;
    border: 1px solid $white;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    @extend .white-text;
  }

  &__item:hover &__image {
    filter: blur(2px);
  }
}

@media screen and (min-width: 601px) {
  .HomeExpoGrid {
    &__item {
      height: 220px;
    }
  }
}

@media screen and (min-width: 993px) {
  .HomeExpoGrid {
    &__item {
      height: 280px;
    }
  }
}
