@import 'materialize-css';
@import 'src/constants/Constants.scss';

.ItemToEdit {
  display: block;
  position: relative;
  margin-bottom: 20px;
  
  &__wrapper {
    padding: 5px;
  }

  &__image {
    display: block;
    position: relative;
    width: 100%;
    height: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.2s;

    &--add {
      background-size: 40%;
      cursor: pointer;
    }
  }

  &__name {
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 10px;
    border-bottom: 1px solid #f5f5f5;
    @extend .black-text;
  }

  &__stand-name {
    padding: 0 10px;
  }

  &__button {
    padding: 5px;
    cursor: pointer;
  }

  &__action-buttons {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 601px) {
  .ItemToEdit {
    &__name {
      font-weight: bold;
    }

    &__image {
      height: 110px;

      // &--add {
      //   height: 134px;
      // }
    }
  }
}

@media screen and (min-width: 993px) {
  .ItemToEdit {
    &__image {
      height: 130px;

      // &--add {
      //   height: 154px;
      // }
    }
  }
}
