@import 'materialize-css';
@import 'src/constants/Constants.scss';

$logo-desktop-hight: 140px;

.StandHeader {
  position: relative;
  width: 100%;
  height: 20vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &--x-small {
    height: 30vh;
    background-size: auto calc(35vh + 100px);
  }
  &--small {
    height: 40vh;
    background-size: auto calc(45vh + 100px);
  }
  &--medium {
    height: 50vh;
    background-size: auto calc(55vh + 100px);
  }
  &--large {
    height: 60vh;
    background-size: auto calc(65vh + 100px);
  }
  &--x-large {
    height: 65vh;
    background-size: auto calc(70vh + 100px);
  }

  &__info {
    position: absolute;
    top: 0;
    right: left;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
  }

  &__content-wrapper {
    height: 100%;
    padding: 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
    @extend .white-text;
  }

  &__dummy-space {
    width: 100%;
    flex-grow: 2;
  }

  &__stand-identity-wrapper {
    width: 100%;
  }
  
  &__restaurant-indicator {
    width: 100%;
    cursor: default;
    
    i {
      width: 40px;
      height: 40px;
      line-height: 35px;
      font-size: 2em;
      margin-top: 10px;
      border: 2px solid white;
      border-radius: 3px;
    }
  }

  &__logo {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 1em;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__slogan {
    font-size: $medium-text;
  }
  
  .FavoriteButton {
    width: fit-content;
    width: -moz-fit-content;
    background-color: white;
    font-size: 1.7em;
    border-radius: 30px;
    padding: 3px;
  }
}

@media screen and (min-width: 390px) {
  .StandHeader {
    &--x-small,
    &--small,
    &--medium,
    &--large,
    &--x-large {
      background-size: cover;
      background-position: center;
    }
  }
}

@media screen and (min-width: 993px) {
  .StandHeader {
    &__logo {
      width: $logo-desktop-hight;
      height: $logo-desktop-hight;
      position: relative;
      float: left;
      margin: 0 15px 0 0;
    }
  
    &__restaurant-indicator {
      width: 100%;
      
      i {
        width: 50px;
        height: 50px;
        line-height: 45px;
        font-size: 2.7em;
        margin-top: 20px;
      }
    }

    &__title-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: $logo-desktop-hight;
    }
  
    .Title {
      width: calc(100% - 155px);
    }
  
    &__slogan {
      width: calc(100% - 155px);
    }
  }
}
