@import 'materialize-css';
@import 'src/constants/Constants.scss';

.ParallaxHeaderImage {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 66vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  &__info {
    padding: 60px 0 40px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    @extend .white-text;
  }
  
  &__email {
    display: inline-block;
    margin-top: 10px;
  }
}
