.Footer {
  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__version,
  &__app {
    display: flex;
    flex-direction: row;
  }
  
  &__version {
    cursor: pointer;
  }
}
