@import 'materialize-css';

.StandComponentsQuestions {

  &__question {
    margin-top: 20px;
  }

  &__button {
    padding: 2em;
  }

  &__cloceAnswer {
    color: black;
    display: block;
    margin: 8px 10px 0 0;
  }

  &__mark {
    padding: 0 22px !important;
  }
}
